*{
  margin: 0;
  padding: 0;
  font-family: Arial;  
  text-align: center;
}

#nav{
  height: 15rem;
  background-color: red;  
}

#logoPokemon{
  width:15rem;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#darkMode{
  display:flex;
  justify-content:flex-end;
}

#luaSol{
  width: 3rem;
  height:3rem;
  
  background-color: white;
  color: black;
}

#luaSol:hover{
  transition: 0.3s;
  background-color: black;
  color: white;
  cursor: pointer;
}

#section{
  background-color: white;
}

footer {
  background-color: black;
  color: black;
}

#evoluir{
  cursor: pointer;
  transition: 0.3s;
  padding: 1rem;
  margin: 1rem;
  font-family: System;
  font-weight: bold;
  font-size: 1rem;
  background-color: white;
  color: black;
  
}

#evoluir:hover{
  background-color: black;
  color: white;
}

#imagem{
  width: 50%;
  height: 50%; 
}

footer{
  color:white;
  display:flex;
  justify-content:flex-start;
}














